# coding: utf-8

"""
    Stats API Documentation

    Official API for Major League Baseball.  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AwardsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def award_recipients(self, award_id, **kwargs):  # noqa: E501
        """View recipients of an award  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.award_recipients(award_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str award_id: Unique Award Identifier. Available awards in /api/v1/awards (required)
        :param str season: Season of play
        :param int sport_id: Top level organization of a sport
        :param list[int] league_id: Comma delimited list of Unique league identifiers
        :param list[str] fields:
        :return: AwardsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.award_recipients_with_http_info(award_id, **kwargs)  # noqa: E501
        else:
            (data) = self.award_recipients_with_http_info(award_id, **kwargs)  # noqa: E501
            return data

    def award_recipients_with_http_info(self, award_id, **kwargs):  # noqa: E501
        """View recipients of an award  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.award_recipients_with_http_info(award_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str award_id: Unique Award Identifier. Available awards in /api/v1/awards (required)
        :param str season: Season of play
        :param int sport_id: Top level organization of a sport
        :param list[int] league_id: Comma delimited list of Unique league identifiers
        :param list[str] fields:
        :return: AwardsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['award_id', 'season', 'sport_id', 'league_id', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method award_recipients" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'award_id' is set
        if ('award_id' not in params or
                params['award_id'] is None):
            raise ValueError("Missing the required parameter `award_id` when calling `award_recipients`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'award_id' in params:
            path_params['awardId'] = params['award_id']  # noqa: E501

        query_params = []
        if 'season' in params:
            query_params.append(('season', params['season']))  # noqa: E501
        if 'sport_id' in params:
            query_params.append(('sportId', params['sport_id']))  # noqa: E501
        if 'league_id' in params:
            query_params.append(('leagueId', params['league_id']))  # noqa: E501
            collection_formats['leagueId'] = 'multi'  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/awards/{awardId}/recipients', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AwardsRestObject',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def awards(self, award_id, **kwargs):  # noqa: E501
        """View awards info  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.awards(award_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str award_id: Unique Award Identifier. Available awards in /api/v1/awards (required)
        :param list[int] org_id: Comma delimited list of top level organizations of a sport
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: AwardsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.awards_with_http_info(award_id, **kwargs)  # noqa: E501
        else:
            (data) = self.awards_with_http_info(award_id, **kwargs)  # noqa: E501
            return data

    def awards_with_http_info(self, award_id, **kwargs):  # noqa: E501
        """View awards info  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.awards_with_http_info(award_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str award_id: Unique Award Identifier. Available awards in /api/v1/awards (required)
        :param list[int] org_id: Comma delimited list of top level organizations of a sport
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: AwardsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['award_id', 'org_id', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method awards" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'award_id' is set
        if ('award_id' not in params or
                params['award_id'] is None):
            raise ValueError("Missing the required parameter `award_id` when calling `awards`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'award_id' in params:
            path_params['awardId'] = params['award_id']  # noqa: E501

        query_params = []
        if 'org_id' in params:
            query_params.append(('orgId', params['org_id']))  # noqa: E501
            collection_formats['orgId'] = 'multi'  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/awards', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AwardsRestObject',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def awards1(self, award_id, **kwargs):  # noqa: E501
        """View awards info  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.awards1(award_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str award_id: Unique Award Identifier. Available awards in /api/v1/awards (required)
        :param list[int] org_id: Comma delimited list of top level organizations of a sport
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: AwardsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.awards1_with_http_info(award_id, **kwargs)  # noqa: E501
        else:
            (data) = self.awards1_with_http_info(award_id, **kwargs)  # noqa: E501
            return data

    def awards1_with_http_info(self, award_id, **kwargs):  # noqa: E501
        """View awards info  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.awards1_with_http_info(award_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str award_id: Unique Award Identifier. Available awards in /api/v1/awards (required)
        :param list[int] org_id: Comma delimited list of top level organizations of a sport
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: AwardsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['award_id', 'org_id', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method awards1" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'award_id' is set
        if ('award_id' not in params or
                params['award_id'] is None):
            raise ValueError("Missing the required parameter `award_id` when calling `awards1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'award_id' in params:
            path_params['awardId'] = params['award_id']  # noqa: E501

        query_params = []
        if 'org_id' in params:
            query_params.append(('orgId', params['org_id']))  # noqa: E501
            collection_formats['orgId'] = 'multi'  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/awards/{awardId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AwardsRestObject',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
