# coding: utf-8

"""
    Stats API Documentation

    Official API for Major League Baseball.  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class BiomechanicsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def biomechanical(self, game_pk, play_id, position_id, **kwargs):  # noqa: E501
        """View Biomechanical data by playId and gameId filtered by player positionId  # noqa: E501

        This endpoint allows you to pull biomechanical tracking data by gameId and playId filtered by player positionId  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.biomechanical(game_pk, play_id, position_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int game_pk: Unique Primary Key Representing a Game (required)
        :param str play_id: Unique play identifier (required)
        :param int position_id: Position number. Format: 1, 2, 3, etc (required)
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: SkeletalDataWrapperRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.biomechanical_with_http_info(game_pk, play_id, position_id, **kwargs)  # noqa: E501
        else:
            (data) = self.biomechanical_with_http_info(game_pk, play_id, position_id, **kwargs)  # noqa: E501
            return data

    def biomechanical_with_http_info(self, game_pk, play_id, position_id, **kwargs):  # noqa: E501
        """View Biomechanical data by playId and gameId filtered by player positionId  # noqa: E501

        This endpoint allows you to pull biomechanical tracking data by gameId and playId filtered by player positionId  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.biomechanical_with_http_info(game_pk, play_id, position_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int game_pk: Unique Primary Key Representing a Game (required)
        :param str play_id: Unique play identifier (required)
        :param int position_id: Position number. Format: 1, 2, 3, etc (required)
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: SkeletalDataWrapperRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['game_pk', 'play_id', 'position_id', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method biomechanical" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'game_pk' is set
        if ('game_pk' not in params or
                params['game_pk'] is None):
            raise ValueError("Missing the required parameter `game_pk` when calling `biomechanical`")  # noqa: E501
        # verify the required parameter 'play_id' is set
        if ('play_id' not in params or
                params['play_id'] is None):
            raise ValueError("Missing the required parameter `play_id` when calling `biomechanical`")  # noqa: E501
        # verify the required parameter 'position_id' is set
        if ('position_id' not in params or
                params['position_id'] is None):
            raise ValueError("Missing the required parameter `position_id` when calling `biomechanical`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'game_pk' in params:
            path_params['gamePk'] = params['game_pk']  # noqa: E501
        if 'play_id' in params:
            path_params['playId'] = params['play_id']  # noqa: E501
        if 'position_id' in params:
            path_params['positionId'] = params['position_id']  # noqa: E501

        query_params = []
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth', 'bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/game/{gamePk}/{playId}/analytics/biomechanics/{positionId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SkeletalDataWrapperRestObject',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
