# coding: utf-8

"""
    Stats API Documentation

    Official API for Major League Baseball.  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class BroadcastApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_all_broadcasters(self, **kwargs):  # noqa: E501
        """Get All Active Broadcasters  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_broadcasters(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BroadcasterActiveStatusEnum active_status: Current status of the broadcaster. Format: Active = y, inactive = n, both = b
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: list[BroadcasterRestObject]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_all_broadcasters_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_all_broadcasters_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_all_broadcasters_with_http_info(self, **kwargs):  # noqa: E501
        """Get All Active Broadcasters  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_broadcasters_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BroadcasterActiveStatusEnum active_status: Current status of the broadcaster. Format: Active = y, inactive = n, both = b
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: list[BroadcasterRestObject]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['active_status', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_broadcasters" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'active_status' in params:
            query_params.append(('activeStatus', params['active_status']))  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/broadcasters', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[BroadcasterRestObject]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_broadcasts(self, broadcaster_ids, **kwargs):  # noqa: E501
        """Get Broadcasters  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_broadcasts(broadcaster_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] broadcaster_ids: All of the broadcast details (required)
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: list[BroadcasterRestObject]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_broadcasts_with_http_info(broadcaster_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.get_broadcasts_with_http_info(broadcaster_ids, **kwargs)  # noqa: E501
            return data

    def get_broadcasts_with_http_info(self, broadcaster_ids, **kwargs):  # noqa: E501
        """Get Broadcasters  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_broadcasts_with_http_info(broadcaster_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] broadcaster_ids: All of the broadcast details (required)
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: list[BroadcasterRestObject]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['broadcaster_ids', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_broadcasts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'broadcaster_ids' is set
        if ('broadcaster_ids' not in params or
                params['broadcaster_ids'] is None):
            raise ValueError("Missing the required parameter `broadcaster_ids` when calling `get_broadcasts`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'broadcaster_ids' in params:
            query_params.append(('broadcasterIds', params['broadcaster_ids']))  # noqa: E501
            collection_formats['broadcasterIds'] = 'multi'  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/broadcast', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[BroadcasterRestObject]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
