# coding: utf-8

"""
    Stats API Documentation

    Official API for Major League Baseball.  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class DivisionApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def divisions(self, division_id, **kwargs):  # noqa: E501
        """Get division information  # noqa: E501

        This endpoint allows you to pull divisions  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.divisions(division_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int division_id: Unique Division Identifier (required)
        :param bool include_inactive: Whether or not to include inactive
        :param int league_id: Unique League Identifier
        :param int sport_id: Top level organization of a sport
        :param str season: Season of play
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: DivisionsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.divisions_with_http_info(division_id, **kwargs)  # noqa: E501
        else:
            (data) = self.divisions_with_http_info(division_id, **kwargs)  # noqa: E501
            return data

    def divisions_with_http_info(self, division_id, **kwargs):  # noqa: E501
        """Get division information  # noqa: E501

        This endpoint allows you to pull divisions  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.divisions_with_http_info(division_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int division_id: Unique Division Identifier (required)
        :param bool include_inactive: Whether or not to include inactive
        :param int league_id: Unique League Identifier
        :param int sport_id: Top level organization of a sport
        :param str season: Season of play
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: DivisionsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['division_id', 'include_inactive', 'league_id', 'sport_id', 'season', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method divisions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'division_id' is set
        if ('division_id' not in params or
                params['division_id'] is None):
            raise ValueError("Missing the required parameter `division_id` when calling `divisions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'division_id' in params:
            path_params['divisionId'] = params['division_id']  # noqa: E501

        query_params = []
        if 'include_inactive' in params:
            query_params.append(('includeInactive', params['include_inactive']))  # noqa: E501
        if 'league_id' in params:
            query_params.append(('leagueId', params['league_id']))  # noqa: E501
        if 'sport_id' in params:
            query_params.append(('sportId', params['sport_id']))  # noqa: E501
        if 'season' in params:
            query_params.append(('season', params['season']))  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/divisions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DivisionsRestObject',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def divisions1(self, division_id, **kwargs):  # noqa: E501
        """Get division information  # noqa: E501

        This endpoint allows you to pull divisions  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.divisions1(division_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int division_id: Unique Division Identifier (required)
        :param bool include_inactive: Whether or not to include inactive
        :param int league_id: Unique League Identifier
        :param int sport_id: Top level organization of a sport
        :param str season: Season of play
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: DivisionsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.divisions1_with_http_info(division_id, **kwargs)  # noqa: E501
        else:
            (data) = self.divisions1_with_http_info(division_id, **kwargs)  # noqa: E501
            return data

    def divisions1_with_http_info(self, division_id, **kwargs):  # noqa: E501
        """Get division information  # noqa: E501

        This endpoint allows you to pull divisions  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.divisions1_with_http_info(division_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int division_id: Unique Division Identifier (required)
        :param bool include_inactive: Whether or not to include inactive
        :param int league_id: Unique League Identifier
        :param int sport_id: Top level organization of a sport
        :param str season: Season of play
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: DivisionsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['division_id', 'include_inactive', 'league_id', 'sport_id', 'season', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method divisions1" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'division_id' is set
        if ('division_id' not in params or
                params['division_id'] is None):
            raise ValueError("Missing the required parameter `division_id` when calling `divisions1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'division_id' in params:
            path_params['divisionId'] = params['division_id']  # noqa: E501

        query_params = []
        if 'include_inactive' in params:
            query_params.append(('includeInactive', params['include_inactive']))  # noqa: E501
        if 'league_id' in params:
            query_params.append(('leagueId', params['league_id']))  # noqa: E501
        if 'sport_id' in params:
            query_params.append(('sportId', params['sport_id']))  # noqa: E501
        if 'season' in params:
            query_params.append(('season', params['season']))  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/divisions/{divisionId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DivisionsRestObject',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
