# coding: utf-8

"""
    Stats API Documentation

    Official API for Major League Baseball.  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class StandingsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def standings(self, standings_type, **kwargs):  # noqa: E501
        """View standings for a league  # noqa: E501

        This endpoint allows you to pull standings  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.standings(standings_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str standings_type: Type of season. Available types in /api/v1/standingsTypes (required)
        :param list[int] league_id: Unique League Identifier
        :param str season: Season of play
        :param list[StandingsType] standings_types: Type of season. Available types in /api/v1/standingsTypes
        :param date _date: Date of Game. Format: YYYY-MM-DD
        :param int team_id: Unique Team Identifier. Format: 141, 147, etc
        :param bool include_mlb: Determines whether to include major league teams when using the 'BY_ORGANIZATION' standings type
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: StandingsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.standings_with_http_info(standings_type, **kwargs)  # noqa: E501
        else:
            (data) = self.standings_with_http_info(standings_type, **kwargs)  # noqa: E501
            return data

    def standings_with_http_info(self, standings_type, **kwargs):  # noqa: E501
        """View standings for a league  # noqa: E501

        This endpoint allows you to pull standings  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.standings_with_http_info(standings_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str standings_type: Type of season. Available types in /api/v1/standingsTypes (required)
        :param list[int] league_id: Unique League Identifier
        :param str season: Season of play
        :param list[StandingsType] standings_types: Type of season. Available types in /api/v1/standingsTypes
        :param date _date: Date of Game. Format: YYYY-MM-DD
        :param int team_id: Unique Team Identifier. Format: 141, 147, etc
        :param bool include_mlb: Determines whether to include major league teams when using the 'BY_ORGANIZATION' standings type
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: StandingsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['standings_type', 'league_id', 'season', 'standings_types', '_date', 'team_id', 'include_mlb', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method standings" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'standings_type' is set
        if ('standings_type' not in params or
                params['standings_type'] is None):
            raise ValueError("Missing the required parameter `standings_type` when calling `standings`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'standings_type' in params:
            path_params['standingsType'] = params['standings_type']  # noqa: E501

        query_params = []
        if 'league_id' in params:
            query_params.append(('leagueId', params['league_id']))  # noqa: E501
            collection_formats['leagueId'] = 'multi'  # noqa: E501
        if 'season' in params:
            query_params.append(('season', params['season']))  # noqa: E501
        if 'standings_types' in params:
            query_params.append(('standingsTypes', params['standings_types']))  # noqa: E501
            collection_formats['standingsTypes'] = 'multi'  # noqa: E501
        if '_date' in params:
            query_params.append(('date', params['_date']))  # noqa: E501
        if 'team_id' in params:
            query_params.append(('teamId', params['team_id']))  # noqa: E501
        if 'include_mlb' in params:
            query_params.append(('includeMLB', params['include_mlb']))  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/standings/{standingsType}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StandingsRestObject',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def standings1(self, standings_type, **kwargs):  # noqa: E501
        """View standings for a league  # noqa: E501

        This endpoint allows you to pull standings  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.standings1(standings_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str standings_type: Type of season. Available types in /api/v1/standingsTypes (required)
        :param list[int] league_id: Unique League Identifier
        :param str season: Season of play
        :param list[StandingsType] standings_types: Type of season. Available types in /api/v1/standingsTypes
        :param date _date: Date of Game. Format: YYYY-MM-DD
        :param int team_id: Unique Team Identifier. Format: 141, 147, etc
        :param bool include_mlb: Determines whether to include major league teams when using the 'BY_ORGANIZATION' standings type
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: StandingsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.standings1_with_http_info(standings_type, **kwargs)  # noqa: E501
        else:
            (data) = self.standings1_with_http_info(standings_type, **kwargs)  # noqa: E501
            return data

    def standings1_with_http_info(self, standings_type, **kwargs):  # noqa: E501
        """View standings for a league  # noqa: E501

        This endpoint allows you to pull standings  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.standings1_with_http_info(standings_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str standings_type: Type of season. Available types in /api/v1/standingsTypes (required)
        :param list[int] league_id: Unique League Identifier
        :param str season: Season of play
        :param list[StandingsType] standings_types: Type of season. Available types in /api/v1/standingsTypes
        :param date _date: Date of Game. Format: YYYY-MM-DD
        :param int team_id: Unique Team Identifier. Format: 141, 147, etc
        :param bool include_mlb: Determines whether to include major league teams when using the 'BY_ORGANIZATION' standings type
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: StandingsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['standings_type', 'league_id', 'season', 'standings_types', '_date', 'team_id', 'include_mlb', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method standings1" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'standings_type' is set
        if ('standings_type' not in params or
                params['standings_type'] is None):
            raise ValueError("Missing the required parameter `standings_type` when calling `standings1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'standings_type' in params:
            path_params['standingsType'] = params['standings_type']  # noqa: E501

        query_params = []
        if 'league_id' in params:
            query_params.append(('leagueId', params['league_id']))  # noqa: E501
            collection_formats['leagueId'] = 'multi'  # noqa: E501
        if 'season' in params:
            query_params.append(('season', params['season']))  # noqa: E501
        if 'standings_types' in params:
            query_params.append(('standingsTypes', params['standings_types']))  # noqa: E501
            collection_formats['standingsTypes'] = 'multi'  # noqa: E501
        if '_date' in params:
            query_params.append(('date', params['_date']))  # noqa: E501
        if 'team_id' in params:
            query_params.append(('teamId', params['team_id']))  # noqa: E501
        if 'include_mlb' in params:
            query_params.append(('includeMLB', params['include_mlb']))  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/standings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StandingsRestObject',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
