# coding: utf-8

"""
    Stats API Documentation

    Official API for Major League Baseball.  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class UniformsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def uniforms_by_game(self, game_pks, **kwargs):  # noqa: E501
        """View Game Uniform info  # noqa: E501

        This endpoint allows you to pull team uniform data for a game  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.uniforms_by_game(game_pks, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] game_pks: Comma delimited list of unique primary keys (required)
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: UniformsGamesRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.uniforms_by_game_with_http_info(game_pks, **kwargs)  # noqa: E501
        else:
            (data) = self.uniforms_by_game_with_http_info(game_pks, **kwargs)  # noqa: E501
            return data

    def uniforms_by_game_with_http_info(self, game_pks, **kwargs):  # noqa: E501
        """View Game Uniform info  # noqa: E501

        This endpoint allows you to pull team uniform data for a game  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.uniforms_by_game_with_http_info(game_pks, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] game_pks: Comma delimited list of unique primary keys (required)
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: UniformsGamesRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['game_pks', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method uniforms_by_game" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'game_pks' is set
        if ('game_pks' not in params or
                params['game_pks'] is None):
            raise ValueError("Missing the required parameter `game_pks` when calling `uniforms_by_game`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'game_pks' in params:
            query_params.append(('gamePks', params['game_pks']))  # noqa: E501
            collection_formats['gamePks'] = 'multi'  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/uniforms/game', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UniformsGamesRestObject',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def uniforms_by_team(self, team_ids, **kwargs):  # noqa: E501
        """View Team Uniform info  # noqa: E501

        This endpoint allows you to pull team uniform data for a season  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.uniforms_by_team(team_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] team_ids: (required)
        :param str season: Season of play
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: UniformsTeamsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.uniforms_by_team_with_http_info(team_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.uniforms_by_team_with_http_info(team_ids, **kwargs)  # noqa: E501
            return data

    def uniforms_by_team_with_http_info(self, team_ids, **kwargs):  # noqa: E501
        """View Team Uniform info  # noqa: E501

        This endpoint allows you to pull team uniform data for a season  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.uniforms_by_team_with_http_info(team_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[int] team_ids: (required)
        :param str season: Season of play
        :param list[str] fields: Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute
        :return: UniformsTeamsRestObject
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['team_ids', 'season', 'fields']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method uniforms_by_team" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'team_ids' is set
        if ('team_ids' not in params or
                params['team_ids'] is None):
            raise ValueError("Missing the required parameter `team_ids` when calling `uniforms_by_team`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'team_ids' in params:
            query_params.append(('teamIds', params['team_ids']))  # noqa: E501
            collection_formats['teamIds'] = 'multi'  # noqa: E501
        if 'season' in params:
            query_params.append(('season', params['season']))  # noqa: E501
        if 'fields' in params:
            query_params.append(('fields', params['fields']))  # noqa: E501
            collection_formats['fields'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/uniforms/team', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UniformsTeamsRestObject',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
